spring:
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6:///ittest
  flyway:
    enabled: true
  jpa:
    properties:
      jakarta:
        persistence:
          schema-generation:
            database:
              action: validate
            scripts:
              action: create
              create-target: target/database/generated-schema.sql
            create-source: metadata
      hibernate:
        hbm2ddl:
          schema-generation:
            script:
              append: false
        format_sql: true
  security:
    oauth2:
      client:
        provider:
          billing-data-collector:
            token-uri: http://localhost:${wiremock.server.port:}/api-gateway/token
        registration:
          billing-data-collector:
            client-id: the-client-id
            client-secret: the-client-secret

integration:
  billing-data-collector:
    base-url: http://localhost:${wiremock.server.port:}/api-billing-data-collector

business-rules:
  billable-agreement-rule:
    managed-municipality-ids:
      - 1984